/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Upside-down Tetris assignment.

    Good luck, and have fun!
*/

.tetris-block {
    padding:20px;
    border-width: 12px; 
    border-style:ridge;
    display: inline-block;
    margin: 5px;
}

.lemon {
    border-radius: 20px 5px 20px 5px;
}

.lf-oval {
    border-radius: 40px 60px
}

.rt-oval {
    border-radius: 60px 40px;
}
.aqua {
    background-color:aquamarine;
    border-color:aqua;
}

.green {
    background-color: lightgreen;
    border-color: green;
}

.purple {
    background-color: blueviolet;
    border-color: violet;
}

.red {
    background-color: red;
    border-color: crimson;
}

.yellow {
    background-color: lightgoldenrodyellow;
    border-color: yellow
}