* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#center-column {
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: center;
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family:'Trebuchet MS';
    width: 350px;
    border: 2px solid #8BBE9A;
    border-radius: 5px;
    padding: 10px;
    box-shadow: -4px 4px 12px #1B0233;
    background: radial-gradient(
        at bottom center,
        #D0E2E3,
        #85B7BA,
        #266063
    );
}

.card h2 {
    font-weight: bold;
    font-size: 35px;
    border-bottom: 2px solid #43270B;
    color: #43270B;
    padding-bottom: 24px;
}

.card p {
    font-size: 17px;
    color: #391F0C;
}

.card a {
    display: inline-block;
    color: #43270B;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #E5D9E7;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid #E5D9E7;
    transition:
        background-color .5s,
        color .5s;
}

.card a:hover {
    text-decoration: underline, #6E4427;
    background-color: #BE9B83;
    color: #E7E0DA;
    border: 3px solid #E7E0DA;
}

.hero {
    background: 
        linear-gradient(#C0968055,#C0968055 ),
        url("../images/gilles-lambert-mSK5nNsAsLY-unsplash.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 6px 3px #C28382;
}

.hero h2 {
    color: #F9E8E6;
    font-style: italic;
    font-family: fantasy;
    font-weight: lighter;
    font-size: 35px;
    padding-left: 20px;
    margin-left: 25%
}

.hero h3 {
    color: #F9E8E6;
    font-style: italic;
    font-family: fantasy;
    font-weight: lighter;
    font-size: 25px;
    padding-left: 4px;
    margin-top: 100px;
}

.hero a {
    color: #172410;
    font-family: fantasy;
    font-weight: lighter;
    font-size: 15px;
    margin-top: 170px;
    border: 3px solid #F9E8E6;
    background-color: #F9E8E6;
    padding: 5px;
    border-radius: 50%;
}
#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

.vertical-masonry-gallery {
    columns: 3 auto;
    column-gap: 24px;
    padding: 24px;
    border: 10px groove #4E838E;
    background-color: #A38367;
}

.vertical-masonry-gallery img {
    width: 100%;
    margin-bottom: 24px;
    border: 5px ridge #F9EAD1;
}
