* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.card {
    flex: 300px;
    border: 3px solid black;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
}

.card a {
    text-decoration: none;
    color: black;
    border: 3px solid black;
    display: block;
    padding: 10px;
    margin-top: 36px;
}

#card-1:hover {
    background-color: #9DC0A0;
    box-shadow: 4px 4px 4px #98EBA1;
    transform: translateY(-4px) ;

}

#card-1 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card-2 {
    transition: 
        background-color 0.5s,
        box-shadow 0.5s,
        transform 0.5s;
}

#card-2:hover {
    background-color: #7A967C;
    box-shadow: 4px 4px 4px #98EBA1;
    transform: translateY(-4px) ;
}

#card-3 {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}

#card-3:hover {
    background-color: #537056;
    box-shadow: 4px 4px 4px #98EBA1;
    transform: translateY(-4px);
}

#card-4 {
    transition: 
    background-color 0.5s,
    box-shadow 0.5s,
    transform 0.5s;
}

#card-4:hover {
    background-color: #2D4738;
    box-shadow: 4px 4px 4px #98EBA1;
    transform: translateY(-4px);
}


#card-1-1 {
    background-color: #A0937E;
}

#card-1-1 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-10px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}

#card-1-1:hover .card-content {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

#card-2-1 {
    background-color: #756549;
}
#card-2-1 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}

#card-2-1:hover .card-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

#card-3-1 {
    background-color: #755D3B;
}
#card-3-1 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}

#card-3-1:hover .card-content {
    visibility: visible;
    opacity: 1;
    transform: translateY(0px);
}

#card-4-1 {
    background-color: #755D3B;
}
#card-4-1 .card-content {
    opacity: 0;
    visibility: hidden;
    transform: translateX(10px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}

#card-4-1:hover .card-content {
    visibility: visible;
    opacity: 1;
    transform: translateX(0px);
}

#card-1-2 {
    position:relative;
}

#card-1-2 .card-content {
    position: absolute;
    background-color: #AABDC2;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #AFE8F5;
    padding: 24px;
    left: 0px;
    margin: 0px 24px;

    /*invisible code below*/
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}

#card-1-2:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#card-2-2 {
    position:relative;
}

#card-2-2 .card-content {
    position: absolute;
    background-color: #7999A0;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #AFE8F5;
    padding: 24px;
    left: 0px;
    margin: 0px 24px;

    /*invisible code below*/
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}

#card-2-2:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#card-3-2 {
    position:relative;
}

#card-3-2 .card-content {
    position: absolute;
    background-color: #456C75;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #AFE8F5;
    padding: 24px;
    left: 0px;
    margin: 0px 24px;

    /*invisible code below*/
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}

#card-3-2:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

#card-4-2 {
    position:relative;
}

#card-4-2 .card-content {
    position: absolute;
    background-color: #1E4047;
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px 4px #AFE8F5;
    padding: 24px;
    left: 0px;
    margin: 0px 24px;

    /*invisible code below*/
    opacity: 0;
    visibility: hidden;
    transform: translateY(-8px);
    transition: 
        opacity 0.5s,
        visibility 0.5s,
        transform 0.5s;
}

#card-4-2:hover .card-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}