/* Drill 1 - Write your code solution below */

div p {
    border: 5px solid red;
    padding: 15px;
    border-radius: 10px
}


/* Drill 2 - Write your code solution below */



/* Drill 3 - Write your code solution below */



/* Drill 4 - Write your code solution below */



/* Drill 5 - Write your code solution below */


