#dirty-orange {
    text-align: center;
    font-family: monospace;
}

#style1-box-1 {
   background-color: #FFDDD4;
   font-family: monospace;
   text-align: center;
   padding: 24px; 
}

#style1-box-2 {
    background-color: #F1B1A1;
    font-family: monospace;
    text-align: center;
    padding: 24px;
}

#style1-box-3 {
    background-color: #C77763;
    font-family: monospace;
    text-align: center;
    padding: 24px;
}

#style1-box-4 {
    background-color: #9C4934;
    font-family: monospace;
    text-align: center;
    padding: 24px;
}

#earthy-green {
    text-align: center;
    font-family:Verdana;
}

#style2-box-1 {
    background-color: #DDF1A1;
    font-family: verdana;
    text-align: center;
    padding: 24px;
}

#style2-box-2 {
    background-color: #AEC763;
    font-family: verdana;
    text-align: center;
    padding: 24px;
}

#style2-box-3 {
    background-color: #829C34;
    font-family: verdana;
    text-align: center;
    padding: 24px; 
}

#style2-box-4 {
    background-color: #5A7213;
    font-family: verdana;
    text-align: center;
    padding: 24px;
}

#sea-blue {
    text-align: center;
    font-family: impact;
}

#style3-box-1 {
    background-color: #63C2C7;
    font-family: impact;
    text-align: center;
    padding: 24px; 
}

#style3-box-2 {
    background-color: #34969C;
    font-family: impact;
    text-align: center;
    padding: 24px; 
}

#style3-box-3 {
    background-color: #136D72;
    font-family: impact;
    text-align: center;
    padding: 24px; 
}

#style3-box-4 {
    background-color: #004347;
    font-family: impact;
    text-align: center;
    padding: 24px;
}