* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    top: 0px;
    background-color: #EAE0F1;
    
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: #351640;
    padding: 24px;
    font-size: 26px;
    font-family: "la-parisienne-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#navbar a:hover {
    background-color: #957BA1;
}

#navbar #logo {
    margin-right: auto;
    padding-top: 13px;
    padding-bottom: 12px;
}

#hero{
    background-image: 
        url("../images/todd-diemer-SEFR62Upnqw-unsplash.jpg");
    height: 70vh;
    background-size:contain;
    background-position: center center;
    display: flex;
    align-items: flex-end;
    color: white;
    position: relative;
    margin-top: 35px;
}

#hero a {
    padding: 15px;
    text-decoration: none;
    color: white;
    position: absolute;
    left: 55%;
    bottom: 10%; 
}

#hero a:hover {
    border: 2px groove transparent;
    background-color: #351640;
    padding: 15px;
    border-radius: 50px;
}

#hero h2 {
    position: absolute;
    left: 10%;
    bottom: 15%;
    font-size: 45px;
    font-family: "la-parisienne-sans", sans-serif;
    font-weight: bold;
    font-style: italic;
}

#hero h4 {
    font-size: 26px;
    font-family: "la-parisienne-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: 30%;
    bottom: 10%;
}

.dropdown-container {
    position: relative;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-menu a {
    background-color: #957BA1;
    width: 100%;
    min-width: 200px;
}

.dropdown-container:last-child .dropdown-menu {
    right: 0px;
}

#navbar .dropdown-menu a:hover {
    background: #351640;
    color: #FFFFFF;
}

#card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cards {
    display: flex;
    flex-direction: column;
}

#card-1,
#card-2,
#card-3 {
    text-align: center;
    gap: 16px;
    max-width: 350px;
    margin: 48px auto;
    box-shadow: 0px 4px 12px #351640;
    background-color:  #EAE0F1;
    color:#351640;
    font-family: "la-parisienne-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.cards a {
    display: inline-block;
    color: #351640;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #EAE0F1;
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 3px solid #957BA1;
    transition:
        background-color .5s,
        color .5s;
}

.cards a:hover {
    background-color: #351640;
    color:#EAE0F1;
    border-color: #351640;
}

.cards img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.details h4 {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 0px;
}

.card-header h3 {
    font-size: 20px;
    margin-top: 12px;
    margin-bottom: 0px;
}

#footer {
    color: white;
    padding: 12px;
    position: relative;
    background-color: #957BA1;
    margin-top: 40px;
}

#footer a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-family: "la-parisienne-sans", sans-serif;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
}

#footer-column-navbar {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid #351640;
    padding-bottom: 85px;
    
}

#footer-column-navbar div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
}

#footer-column-navbar a {
    padding-bottom: 35px;
}

/*MENU BREAKPOINT*/

#drinks-container {
    display: flex;
    justify-content: space-evenly;
}

.drinks h3 {
    color: #351640;
    text-align: center;
    text-decoration: underline;
    font-size: 35px;
    font-family: "limon-bold-marker", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0px;
}

.drinks a {
    text-decoration: none;
    color: #957BA1;
    padding: 25px;
}

.drinks li {
    padding: 10px;
    transform: translateY(8px);
    text-align: center;
}

.drinks li:hover {
    list-style-type: disc;
    padding: 10px;
    color:#FFFFFF;
    background-color: #351640;
    transform: translateY(4px);
    transition:
        background-color .5s,
        color .5s;
}

.drinks ul {
    list-style-type: circle;
    font-size: 20px;
    margin-bottom: 50px;
    font-family: "la-parisienne-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#hero-2{
    background-image: 
        url("../images/louis-hansel-YQPpX-EUGBY-unsplash.jpg");
    height: 70vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    position: relative;
}

#hero-2 h2 {
    text-align: center;
    font-size: 45px;
    position: absolute;
    bottom: 1%;
    left: 2%;
    font-family: "la-parisienne-sans", sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #FFFFFF;
}

#hero-2 h4 {
    text-align: center;
    font-size: 26px;
    position: absolute;
    bottom: 50%;
    left: 60%;
    font-family: "la-parisienne-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #FFFFFF;
}

#menu-cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    gap: 25px;
    justify-content: center;
    background-color: #957BA1;
    position: relative;
}

.menu-card {
    align-self: normal;
    flex:350px;
    border: 3px solid #351640;
    color: #351640;
    font-family: "la-parisienne-sans", sans-serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
    margin: 24px;
    padding: 24px;
    border-radius: 12px;
    text-align: center;
    background-color: #EAE0F1;
}

.menu-card a {
    text-decoration: none;
    color: #351640;
    border: 3px solid #957BA1;
    display: block;
    padding: 10px;
    margin-top: 36px;
}

.menu-card a:hover {
    background-color:#351640;
    color: #FFFFFF;
}

#menu-card-1,
#menu-card-2,
#menu-card-3,
#menu-card-4,
#menu-card-5,
#menu-card-6 {
    position: relative;
    border: 0px;
    padding: 0px;
}

#menu-card-1 .card-front,
#menu-card-1 .card-back,
#menu-card-2 .card-front,
#menu-card-2 .card-back,
#menu-card-3 .card-front,
#menu-card-3 .card-back,
#menu-card-4 .card-front,
#menu-card-4 .card-back,
#menu-card-5 .card-front,
#menu-card-5 .card-back,
#menu-card-6 .card-front,
#menu-card-6 .card-back {
    border: 3px solid #351640;
    border-radius: 12px;
    padding: 24px;
}

#menu-card-1 .card-back,
#menu-card-2 .card-back,
#menu-card-3 .card-back,
#menu-card-4 .card-back,
#menu-card-5 .card-back,
#menu-card-6 .card-back  {
    transform: scaleX(0);
}

#menu-card-1 .card-front {
    background-image: url("../images/3158.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu-card-2 .card-front {
    background-image: url("../images/13419.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu-card-3 .card-front {
    background-image: url("../images/2072.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu-card-4 .card-front {
    background-image: url("../images/2147749503.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu-card-5 .card-front {
    background-image: url("../images/2585.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu-card-6 .card-front {
    background-image: url("../images/daniel-apodaca-sfldz1LjzNY-unsplash.jpg");
    background-size: cover;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    position: absolute;
}

#menu-card-1 .card-front,
#menu-card-2 .card-front,
#menu-card-3 .card-front,
#menu-card-4 .card-front,
#menu-card-5 .card-front,
#menu-card-6 .card-front  {
    transition: 
        transform 0.25s 0.25s; 
}

#menu-card-1 .card-back,
#menu-card-2 .card-back,
#menu-card-3 .card-back,
#menu-card-4 .card-back,
#menu-card-5 .card-back,
#menu-card-6 .card-back {
    transition: 
        transform 0.25s;
}

#menu-card-1:hover .card-front,
#menu-card-2:hover .card-front,
#menu-card-3:hover .card-front,
#menu-card-4:hover .card-front,
#menu-card-5:hover .card-front,
#menu-card-6:hover .card-front {
    transform: scaleX(0);
    transition: 
        transform 0.25s; 
}

#menu-card-1:hover .card-back,
#menu-card-2:hover .card-back,
#menu-card-3:hover .card-back,
#menu-card-4:hover .card-back,
#menu-card-5:hover .card-back,
#menu-card-6:hover .card-back {
    transform: scaleX(1);
    transition: 
        transform 0.25s 0.25s; 
}


/*TABLET BREAKPOINT*/
@media screen and (max-width: 768px) and (min-width: 480px) {
    
    #navbar {
        flex-direction: column;
    }

    #logo {
        margin-left: 100px;
    }

    #hero-2 h2 {
        bottom: 0%;
        left: 2%;
        color: #FFFFFF;
    }
    
    #hero-2 h4 {
        position: absolute;
        bottom: 70%;
        left: 50%;
    }

}