/* Drill 1 - Write your code solution below */
#first-paragraph {
    color: green;
}

/* Drill 2 - Write your code solution below */
#span1 {
    color: #F711F7;
}

/* Drill 3 - Write your code solution below */
#span2 {
    color: red;
}

#span3 {
    color: goldenrod;
}

#span4 {
    color: blue;
}

/* Drill 4 - Write your code solution below */
#second-paragraph {
    background-color: skyblue;
}

/* Drill 5 - Write your code solution below */

#div-paragraph {
    background-color: peachpuff;
}

#third-paragraph {
    background-color: pink;
}

#fourth-paragraph {
    background-color: lightcoral;
}